@use 'functions' as *;

.root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: rem(16px);
  overflow-y: auto;
  background-color: #f3f4f8;
}

.header {
  display: flex;
  flex-direction: column;
  gap: rem(6px);
  margin-top: rem(30px);
}

.status {
  display: flex;
  gap: rem(8px);
  align-items: center;
  width: 100%;
  padding: rem(10px) rem(14px);
  margin: rem(20px) 0;
  background: #eaebf2;
  border-radius: rem(6px);
}

.statusText {
  font-size: rem(12px);
  font-weight: 600;
  line-height: 1.4;
  color: #6579a0;
}

.progressIndicator {
  margin-right: rem(-2px);
}

.progressText {
  font-size: rem(12px);
  font-weight: 700;
  line-height: 1.4;
  color: #07f;
}

.title {
  font-size: rem(28px);
  font-weight: 700;
  line-height: 1.5;
  background: radial-gradient(circle at 48% 90%, #84c0ff 0%, #f1e8ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: rem(12px);
  font-weight: 500;
  line-height: 1.4;
  white-space: pre-line;
  background: linear-gradient(90deg, #8da6d8 0%, #d9e5ff 75%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  gap: rem(34px);
  margin-bottom: rem(140px);
}

.section {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
}

.sectionTitle {
  font-size: rem(14px);
  font-weight: 600;
  line-height: 1.5;
  color: #2f3d58;
}

.actionSection {
  position: fixed;
  bottom: rem(50px);
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}
