@use 'functions' as *;

.root {
  position: relative;
  z-index: 2147483647;
  box-sizing: border-box;
  width: rem(450px);
  height: rem(350px);
  padding: rem(30px);
  overflow: hidden;
  user-select: none;
  background: white;
  border: rem(1px) solid #e3e6eb;
  border-radius: rem(40px);
  box-shadow: 0 rem(4px) rem(50px) 0 rgb(100 104 121 / 20%);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: rem(22px);
  font-weight: 700;
  line-height: 1.5;
  color: #2f3d58;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(30px);
  height: rem(30px);
  cursor: pointer;
  background-color: #f3f4f8;
  border: 0;
  border-radius: 50%;

  &:hover {
    background-color: #e0e4ec;
  }
}

.content {
  height: rem(204px);
  margin-top: rem(16px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: rem(2px);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    min-height: rem(10px);
    background-color: #e0e4ec;
    border-radius: rem(6px);
  }
}

.summaryText {
  margin-bottom: rem(30px);
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1.6;
  color: #2f3d58;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  margin-left: rem(2px);
  color: #2f3d58;
  animation: blink 1s step-end infinite;
}

.actions {
  position: absolute;
  right: rem(30px);
  bottom: rem(15px);
  display: flex;
  gap: rem(10px);
  align-items: center;
}

.actionButton {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.translateButton {
  background-color: #eaeeff;

  &:hover {
    background-color: #d9dcff;
  }
}

.copyButton {
  background-color: #f3f4f8;

  &:hover {
    background-color: #e0e4ec;
  }
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(108px);
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #fff 45.56%);
}

.toastViewport {
  position: absolute;
  bottom: rem(15px);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}
