@use 'functions' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  gap: rem(9px);
  align-items: center;
}

.toggleItem {
  display: flex;
  gap: rem(10px);
  align-items: center;
  justify-content: center;
  padding: rem(8px) rem(14px);
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.4;
  color: #2f3d58;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: rem(1px) solid #e6eaf1;
  border-radius: rem(56px);
  transition: all 0.2s ease;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not([data-state='on'], :disabled) {
    background: #d7e4ff;
    border-color: transparent;
  }

  &[data-state='on'] {
    font-weight: 600;
    color: #fff;
    background: #2f3d58;
    border-color: transparent;
  }
}
