@use 'functions' as *;

.root {
  display: block;
  width: 100%;
  height: rem(70px);
  padding: rem(8px) rem(12px);
  font-family: Pretendard, sans-serif;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.4;
  color: #2f3d58;
  resize: none;
  outline: none;
  background: #fff;
  border: 0;
  border-radius: rem(6px);
  transition: all 0.2s ease;

  &::placeholder {
    color: #a4b0ca;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
