@use 'functions' as *;

.root {
  display: flex;
  gap: rem(10px);
  align-items: center;
  justify-content: center;
  width: rem(224px);
  height: rem(50px);
  padding: rem(14px) rem(24px);
  font-size: rem(15px);
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  outline: none;
  background: #07f;
  border: rem(1px) solid #c3e0ff;
  border-radius: rem(50px);
  box-shadow:
    rem(-50px) rem(4px) rem(48.9px) 0 rgb(201 166 255 / 20%),
    rem(30px) rem(4px) rem(45px) 0 rgb(84 175 255 / 40%);
  transition: all 0.2s ease;

  &:disabled {
    cursor: not-allowed;
    background: #d8dbe7;
  }

  &:hover:not(:disabled) {
    transform: translateY(-1px);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
  }
}

.icon {
  flex-shrink: 0;
  width: rem(15px);
  height: rem(14px);
}
