@mixin ellipsis($line, $line-height: 1px) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $line-height;

  @if $line == 1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    max-height: ($line * $line-height);
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}

@mixin reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    padding: 0;
    margin: 0;
  }

  ol,
  ul {
    list-style: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  button {
    cursor: pointer;
    background: transparent;
    border: 0;
  }
}
