@use 'functions' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: rem(18px);
  align-items: center;
  width: 100%;
  margin-top: rem(70px);
}

.shimmerLines {
  position: relative;
  width: rem(142px);
  height: rem(53px);
}

.shimmerLines div {
  position: absolute;
  height: rem(13);
  background: linear-gradient(90deg, #e8ecf3 0%, #f5f7fa 50%, #e8ecf3 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.line1 {
  top: 0;
  left: 0;
  width: rem(58);
}

.line2 {
  top: 0;
  left: rem(65);
  width: rem(22);
}

.line3 {
  top: 0;
  left: rem(93);
  width: rem(49);
}

.line4 {
  top: rem(20);
  left: rem(87);
  width: rem(55);
}

.line5 {
  top: rem(20);
  left: 0;
  width: rem(79);
}

.line6 {
  top: rem(40);
  left: 0;
  width: rem(58);
}

.line7 {
  top: rem(40);
  left: rem(65);
  width: rem(22);
}

.line8 {
  top: rem(40);
  left: rem(93);
  width: rem(49);
}

.loadingText {
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.4;
  color: #9babca;
  text-align: center;
}
