@use 'functions' as *;

.glancy-floating-button {
  position: absolute;
  z-index: 2147483646;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 rem(4px) rem(4px) 0 rgb(0 0 0 / 25%);
  transition: transform 0.2s ease-in-out;
  animation: glancyFloatingButtonFadeIn 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.glancy-floating-button__hover-card {
  z-index: 2147483647;
  padding: rem(6px) rem(12px);
  background-color: #3f4145;
  border-radius: rem(8px);
  box-shadow: 0 rem(4px) rem(4px) 0 rgb(0 0 0 / 25%);

  &[data-state='open'] {
    animation: glancyFloatingButtonFadeIn 0.2s ease-in-out;
  }

  &[data-state='closed'] {
    animation: glancyFloatingButtonFadeOut 0.2s ease-in-out;
  }
}

.glancy-floating-button__hover-card-content {
  font-size: rem(12px);
  font-weight: 500;
  line-height: 1.4;
  color: white;
}

.glancy-floating-button__hover-card-arrow {
  fill: #3f4145;
}

@keyframes glancyFloatingButtonFadeIn {
  from {
    opacity: 0;
    transform: translateY(rem(10px));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glancyFloatingButtonFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(rem(10px));
  }
}
